@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 100%; 
    width: 100%; 
}


.container-recipe {
    scroll-snap-type: y mandatory;
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 100vh;
    width: 100vw; 
    margin: 0; 
    padding: 0; 
}

.container-recipe section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    scroll-snap-align: start;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%; 
}


.container-recipe .Malaysia {
    background-image: url('../pictures/Malaysia.jpg');
    background-size: 1910px 920px; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    margin: 0;
}



.container-recipe .America{
    background-image: url("../pictures/America.jpg");
    background-size: 1910px 920px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    margin: 0;
}

.container-recipe .Japan{
    background-image: url("../pictures/Japan.jpg");
    background-size: 1910px 920px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 100vh; 
}

.container-recipe .France{
    background-image: url("../pictures/France.jpg");
    background-size: 1910px 920px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    margin: 0;
}



.container-recipe .card {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    background-color: rgb(248, 248, 248);
    margin: 50px 10px;
    padding: 15px 15px;
    flex-direction: column;
    box-shadow: 0.5px 10px rgb(216, 10, 10);
    transition: 0.3s ease-in-out;
    

}

.container-recipe .card .imageBox
{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    margin: 0 auto;
}

.container-recipe .card  img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: 40px; 
    margin-right: auto;
    cursor: pointer; 
}

.imageBox:hover img{
    transform: scale(1.1);
}

.word h1 a {
    font-size: 58px; 
    font-weight: bold; 
    font-style: italic; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    color: rgb(254, 254, 254); /* Text color */
    text-align: center; /* Text alignment */
    text-shadow: 1px 1px 4px #000;

}

.container-recipe .card .imageBox h3 {
    font-size: 15px;
    padding: 10px;
}

.container-recipe .card .imageBox p{
    font-size: 13px;
    padding: 5px;
    margin-bottom: 15px;
}

.container-recipe .card .imageBox p span {
    cursor: pointer;
}

.hideCard {
    display: none;

}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    transform:translate(-50%,-50%) scale(1.2);
    opacity:0;
    width: 1300px;
    max-height: 85% ;
    background:#fff;
    border-radius: 15px;
    box-shadow:2px 2px 5px 2px rgba(0,0,0,0.15);
    transition:top 0ms ease-in-out 200ms,
               opacity 200ms ease-in-out 0ms,
               transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 55%;
    opacity:1;
    transform:translate(-50%,-50%) scale(1);
    transition:top 0ms ease-in-out 0ms,
               opacity 200ms ease-in-out 0ms,
               transform 200ms ease-in-out 0ms;
}

.popup .head {
    padding: 5px;
    background:#838f90;
    text-align:center;
}

.popup .head p{
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.popup .body {
    text-align:center;
}

.popup .body .content-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.popup .body .content-box .column {
    width: 60%;
}

.popup .body .conten-box .column  h2 {
    margin-bottom:10px;
    color:#222;
}


.popup .body p {
    font-size:12px;
    color:#555;
    text-align: left;
}


.popup .body .close-btn {
    padding: 10px;
    border: 2px solid #888;
    color:rgb(25, 4, 4);
    background: rgb(254, 254, 254);
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}


.popup .body li {
    margin-bottom: 10px;
    text-align: left;
    list-style-type: disc;
    font-size:12px;
    
}

#footer {
    background-color: rgb(18, 18, 18);
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    display: block;
    position: flex;
}

#footer1 {
    background-color: rgb(18, 18, 18);

}

#footer1 p,
#footer1 ul {
    font-family: 'Times New Roman', Times, serif;
}

#footer2 {
    background-color: black;

}

/* Adjust for smaller screen */
@media screen and (max-width: 750px) {
    .container-recipe .Malaysia,
    .container-recipe .America,
    .container-recipe .Japan,
    .container-recipe .France {
        background-size: 800px 800px; 
    }
    
    .word h1 a {
        font-size: 26px; 
    }

    .container-recipe .card {
        width: 120px;
        height: 150px;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0);
        display: grid;
        margin: 0;
        padding: 0;
     
    }

    .container-recipe .card .imageBox {
        width: 150px;
        height: 100px;
        top: 20px;
        right: 40px;
    }

    .container-recipe .card .imageBox h3 {
        display: none;
    }
    
    .container-recipe .card .imageBox p span{
        display: none ;
    }
   
}

/* Adjust for smaller screen */
@media screen and (max-width: 550px) {
    .container-recipe .Malaysia,
    .container-recipe .America,
    .container-recipe .Japan,
    .container-recipe .France {
        background-size: 600 600px; 
        
    }
    
    .word h1 a {
        font-size: 18px; 
    }
    
    .container-recipe .card {
        width: 80px;
        height: 150px;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0);
        display: grid;
        margin: 0;
        padding: 0;
     
    }

    .container-recipe .card .imageBox {
        width: 100px;
        height: 100px;
        top: 20px;
        right: 40px;
    }

    .container-recipe .card .imageBox h3 {
        display: none;
    }
    
    .container-recipe .card .imageBox p span{
        display: none ;
    }
    
}







